/target/
/.build/
.DS_Store
/packages/main-api/.build/
target/
/packages/main-ui/public/dep.js
/packages/mobile/src-tauri/gen/android/ratel-mobile.json
/packages/mobile/src-tauri/gen/android/.env
/packages/mobile/src-tauri/gen/apple/fastlane/Appfile
dist/
node_modules/
.build/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/screenshots/
release.keystore

*.out