/target/
.vscode/*
/.build/
.DS_Store
/packages/main-api/.build/
target/
/packages/main-ui/public/dep.js
/packages/mobile/src-tauri/gen/android/ratel-mobile.json
/packages/mobile/src-tauri/gen/android/.env
/packages/mobile/src-tauri/gen/apple/fastlane/Appfile
dist/
node_modules/
.build/
trace.zip

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/screenshots/
release.keystore
flycheck_*

.idea

*.out
jmeter.log
benchmark/**/report*/
benchmark/**/*.jtl
benchmark/**/*.csv
.projectile
/.pnpm-store/
/cdk/.next/
/cdk/public/
/packages/main-api/run-target/
/ts-packages/web/test-results/
/ts-packages/web/playwright-report/
/cdk/cdk.context.json
/user.json
user.json
/ts-packages/web/admin.json
.dir-locals.el


# Davia
.davia/
.github/instructions/davia.instructions.md

# Google Cloud Secret
*/.gcp/*

# Generated Css
/packages/*/assets/tailwind.css
