services:
  # Production main-api (pre-built image)
  main-api-testing:
    image: main-api:${COMMIT}
    restart: always
    ports:
      - "3000:3000"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "apt update && apt install curl -y && curl -f http://localhost:3000/version || exit 1",
        ]
      interval: 10s
      timeout: 10s
      retries: 100
    depends_on:
      localstack:
        condition: service_healthy
      localstack-init:
        condition: service_completed_successfully
    networks:
      - ratel-network
    profiles:
      - testing

  # Development main-api (source code mounting)
  main-api:
    image: rust
    restart: always
    ports:
      - "3000:3000"
    environment:
      ENV: local
      PORT: 3000
      WEB_BUILD: "ignore"
      RUST_LOG: ${RUST_LOG:-debug}
      RUST_FLAG: ${RUST_FLAG:---features bypass}
      DYNAMO_ENDPOINT: http://localstack:4566
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-test}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-test}
      AWS_REGION: ${AWS_REGION:-us-east-1}
      TELEGRAM_TOKEN: ${TELEGRAM_TOKEN}
      DYNAMO_TABLE_PREFIX: ${DYNAMO_TABLE_PREFIX:-ratel-local}
      BINANCE_API_KEY: ${BINANCE_API_KEY:-dummy}
      BINANCE_SECRET_KEY: ${BINANCE_SECRET_KEY:-dummy}
      BINANCE_WEBHOOK: ${BINANCE_WEBHOOK:-dummy}
      REDIRECT_DOMAIN: ${REDIRECT_DOMAIN:-http://localhost:3000}
      SLACK_HOOK: ${SLACK_HOOK}

      PORTONE_STORE_ID: ${PORTONE_STORE_ID}
      PORTONE_INICIS_CHANNEL_KEY: ${PORTONE_INICIS_CHANNEL_KEY}
      PORTONE_KPN_CHANNEL_KEY: ${PORTONE_KPN_CHANNEL_KEY}
      PORTONE_API_SECRET: ${PORTONE_API_SECRET}
      PORTONE_WEBHOOK_SECRET: ${PORTONE_WEBHOOK_SECRET}

      # Environments for frontend
      VITE_API_URL: "http://localhost:3000"
      VITE_LOG_LEVEL: ${VITE_LOG_LEVEL:-debug}
      VITE_RPC_URL: "https://public-en-kairos.node.kaia.io"
      VITE_BLOCK_EXPLORER_URL: "https://kairos.scope.kaia.io"
      VITE_OPERATOR_ADDRESS: ${VITE_OPERATOR_ADDRESS:-dummy}
      VITE_FIREBASE_API_KEY: ${VITE_FIREBASE_API_KEY:-dummy}
      VITE_FIREBASE_AUTH_DOMAIN: ${VITE_FIREBASE_AUTH_DOMAIN:-dummy}
      VITE_FIREBASE_PROJECT_ID: ${VITE_FIREBASE_PROJECT_ID:-dummy}
      VITE_FIREBASE_STORAGE_BUCKET: ${VITE_FIREBASE_STORAGE_BUCKET:-dummy}
      VITE_FIREBASE_MESSAGING_SENDER_ID: ${VITE_FIREBASE_MESSAGING_SENDER_ID:-dummy}
      VITE_FIREBASE_APP_ID: ${VITE_FIREBASE_APP_ID:-dummy}
      VITE_FIREBASE_MEASUREMENT_ID: ${VITE_FIREBASE_MEASUREMENT_ID:-dummy}

      VITE_PORTONE_STORE_ID: ${PORTONE_STORE_ID}
      VITE_PORTONE_INICIS_CHANNEL_KEY: ${PORTONE_INICIS_CHANNEL_KEY}

      NODE_ENV: production

      BEDROCK_AGENT_ID: ${BEDROCK_AGENT_ID}
      BEDROCK_AGENT_ALIAS_ID: ${BEDROCK_AGENT_ALIAS_ID}
    volumes:
      - .:/app
      - ./.build/target:/app/target
      - ./.build/main-api/target:/app/packages/main-api/target
      - ./.build/main-api/web-dist:/app/ts-packages/web/dist
      - ./.build/main-api/dist:/app/packages/main-api/dist
      - ./.build/main-api/node_modules:/app/node_modules
      - ./.build/main-api/web_node_modules:/app/ts-packages/web/node_modules
      - ./.build/main-api/pnpm-store:/app/.pnpm-store

    working_dir: /app
    command: ["bash", "scripts/api-entrypoint.sh"]
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3000/version || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 100
    depends_on:
      localstack:
        condition: service_healthy
      localstack-init:
        condition: service_completed_successfully
    networks:
      - ratel-network
    profiles:
      - development

  # Development fetcher (source code mounting)
  fetcher:
    image: rust
    restart: always
    ports:
      - "3001:3001"
    volumes:
      - .:/app
      # - ./.build/target:/app/target
      - ./.build/fetcher/target:/app/packages/fetcher/target
    working_dir: /app
    environment:
      ENV: dev
      RUST_LOG: debug
      PORT: 3001
      TELEGRAM_TOKEN: ${TELEGRAM_TOKEN}
      DYNAMO_TABLE_PREFIX: ratel-local
    command: ["bash", "scripts/fetcher-entrypoint.sh"]
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3001/version || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 100
    networks:
      - ratel-network
    profiles:
      - development

  survey-worker:
    image: rust
    restart: always
    working_dir: /app
    ports:
      - "3002:3002"
    volumes:
      - .:/app
      - ./.build/survey-worker/target:/app/packages/survey-worker/target
    environment:
      ENV: dev
      PORT: 3000
      WEB_BUILD: "false"
      RUST_LOG: ${RUST_LOG:-info}
      RUSTFLAGS: ${RUSTFLAGS:--A warnings}
      RUST_FLAG: ${RUST_FLAG:---features bypass}
      DYNAMO_ENDPOINT: ${DYNAMO_ENDPOINT:-http://localstack:4566}
      MIGRATE: ${MIGRATE:-true}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-test}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-test}
      AWS_REGION: ${AWS_REGION:-us-east-1}
      TELEGRAM_TOKEN: ${TELEGRAM_TOKEN}
      DYNAMO_TABLE_PREFIX: ${DYNAMO_TABLE_PREFIX:-ratel-local}
      BINANCE_API_KEY: ${BINANCE_API_KEY:-dummy}
      BINANCE_SECRET_KEY: ${BINANCE_SECRET_KEY:-dummy}
      BINANCE_WEBHOOK: ${BINANCE_WEBHOOK:-dummy}
      REDIRECT_DOMAIN: ${REDIRECT_DOMAIN:-http://localhost:3000}

      VITE_API_URL: "http://localhost:3000"
      VITE_LOG_LEVEL: ${VITE_LOG_LEVEL:-debug}
      VITE_RPC_URL: "https://public-en-kairos.node.kaia.io"
      VITE_BLOCK_EXPLORER_URL: "https://kairos.scope.kaia.io"
      VITE_OPERATOR_ADDRESS: ${VITE_OPERATOR_ADDRESS:-dummy}
      VITE_FIREBASE_API_KEY: ${VITE_FIREBASE_API_KEY:-dummy}
      VITE_FIREBASE_AUTH_DOMAIN: ${VITE_FIREBASE_AUTH_DOMAIN:-dummy}
      VITE_FIREBASE_PROJECT_ID: ${VITE_FIREBASE_PROJECT_ID:-dummy}
      VITE_FIREBASE_STORAGE_BUCKET: ${VITE_FIREBASE_STORAGE_BUCKET:-dummy}
      VITE_FIREBASE_MESSAGING_SENDER_ID: ${VITE_FIREBASE_MESSAGING_SENDER_ID:-dummy}
      VITE_FIREBASE_APP_ID: ${VITE_FIREBASE_APP_ID:-dummy}
      VITE_FIREBASE_MEASUREMENT_ID: ${VITE_FIREBASE_MEASUREMENT_ID:-dummy}

      VITE_PORTONE_STORE_ID: ${PORTONE_STORE_ID}
      VITE_PORTONE_INICIS_CHANNEL_KEY: ${PORTONE_INICIS_CHANNEL_KEY}
      VITE_PORTONE_KPN_CHANNEL_KEY: ${PORTONE_KPN_CHANNEL_KEY}

      NODE_ENV: production

    command: ["bash", "scripts/survey-worker-entrypoint.sh"]
    healthcheck:
      test: ["CMD-SHELL", "test -x /usr/src/app/bootstrap || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 10
    depends_on:
      localstack:
        condition: service_healthy
      localstack-init:
        condition: service_completed_successfully
    networks:
      - ratel-network
    profiles:
      - development

  web:
    image: node:22.14
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./.build/web/node_modules:/app/node_modules
      - ./.build/web/web_node_modules:/app/ts-packages/web/node_modules
      - ./.build/web/pnpm-store:/app/.pnpm-store
      - .:/app
    working_dir: /app
    environment:
      PORT: 8080
      VITE_API_URL: "http://localhost:3000"
      VITE_LOG_LEVEL: ${VITE_LOG_LEVEL:-debug}
      VITE_RPC_URL: "https://public-en-kairos.node.kaia.io"
      VITE_BLOCK_EXPLORER_URL: "https://kairos.scope.kaia.io"
      VITE_OPERATOR_ADDRESS: ${VITE_OPERATOR_ADDRESS:-dummy}
      VITE_FIREBASE_API_KEY: ${VITE_FIREBASE_API_KEY:-dummy}
      VITE_FIREBASE_AUTH_DOMAIN: ${VITE_FIREBASE_AUTH_DOMAIN:-dummy}
      VITE_FIREBASE_PROJECT_ID: ${VITE_FIREBASE_PROJECT_ID:-dummy}
      VITE_FIREBASE_STORAGE_BUCKET: ${VITE_FIREBASE_STORAGE_BUCKET:-dummy}
      VITE_FIREBASE_MESSAGING_SENDER_ID: ${VITE_FIREBASE_MESSAGING_SENDER_ID:-dummy}
      VITE_FIREBASE_APP_ID: ${VITE_FIREBASE_APP_ID:-dummy}
      VITE_FIREBASE_MEASUREMENT_ID: ${VITE_FIREBASE_MEASUREMENT_ID:-dummy}

      VITE_PORTONE_STORE_ID: ${PORTONE_STORE_ID}
      VITE_PORTONE_INICIS_CHANNEL_KEY: ${PORTONE_INICIS_CHANNEL_KEY}
      VITE_PORTONE_KPN_CHANNEL_KEY: ${PORTONE_KPN_CHANNEL_KEY}

      NODE_ENV: development
    command: ["bash", "scripts/web-entrypoint.sh"]
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/api/version || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 100
    # depends_on:
    #   main-api:
    #     condition: service_healthy
    networks:
      - ratel-network
    profiles:
      - development

  storybook:
    image: node:22.14
    restart: always
    ports:
      - "6006:6006"
    volumes:
      - ./.build/web/node_modules:/app/node_modules
      - ./.build/web/web_node_modules:/app/ts-packages/web/node_modules
      - ./.build/web/pnpm-store:/app/.pnpm-store
      - .:/app
    working_dir: /app
    environment:
      PORT: 8080
      VITE_API_URL: "http://localhost:3000"
      VITE_LOG_LEVEL: ${VITE_LOG_LEVEL:-debug}
      VITE_RPC_URL: "https://public-en-kairos.node.kaia.io"
      VITE_BLOCK_EXPLORER_URL: "https://kairos.scope.kaia.io"
      VITE_OPERATOR_ADDRESS: ${VITE_OPERATOR_ADDRESS:-dummy}
      VITE_FIREBASE_API_KEY: ${VITE_FIREBASE_API_KEY:-dummy}
      VITE_FIREBASE_AUTH_DOMAIN: ${VITE_FIREBASE_AUTH_DOMAIN:-dummy}
      VITE_FIREBASE_PROJECT_ID: ${VITE_FIREBASE_PROJECT_ID:-dummy}
      VITE_FIREBASE_STORAGE_BUCKET: ${VITE_FIREBASE_STORAGE_BUCKET:-dummy}
      VITE_FIREBASE_MESSAGING_SENDER_ID: ${VITE_FIREBASE_MESSAGING_SENDER_ID:-dummy}
      VITE_FIREBASE_APP_ID: ${VITE_FIREBASE_APP_ID:-dummy}
      VITE_FIREBASE_MEASUREMENT_ID: ${VITE_FIREBASE_MEASUREMENT_ID:-dummy}

      API_URL: "http://main-api:3000"

      NODE_ENV: development
    command: ["bash", "scripts/storybook-entrypoint.sh"]
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/api/version || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 100
    # depends_on:
    #   main-api:
    #     condition: service_healthy
    networks:
      - ratel-network
    profiles:
      - development

  localstack:
    hostname: localstack
    image: localstack/localstack
    restart: always
    ports:
      - "4566:4566"
    environment:
      PERSISTENCE: ${LOCALSTACK_PERSISTENCE:-1}
      SERVICES: dynamodb,s3,sqs
      DYNAMODB_SHARE_DB: 1
      SQS_ENDPOINT_STRATEGY: "off"
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-test}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-test}
      AWS_DEFAULT_REGION: ${AWS_REGION:-us-east-1}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/_localstack/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    volumes:
      - ./.build/localstack-data:/var/lib/localstack
    networks:
      - ratel-network
    profiles:
      - testing
      - development
      - infra

  # DynamoDB initialization
  localstack-init:
    image: amazonlinux:2023
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-test}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-test}
      AWS_DEFAULT_REGION: ${AWS_REGION:-us-east-1}
      LOCALSTACK_ENDPOINT: http://localstack:4566
    volumes:
      - ./scripts:/scripts
    networks:
      - ratel-network
    command: ["bash", "/scripts/localstack-init-entrypoint.sh"]
    depends_on:
      localstack:
        condition: service_healthy
    profiles:
      - testing
      - development
      - infra

  dynamodb-admin:
    image: aaronshaf/dynamodb-admin:latest
    restart: always
    ports:
      - "8081:8001"
    environment:
      DYNAMO_ENDPOINT: http://localstack:4566
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-test}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-test}
      AWS_DEFAULT_REGION: ${AWS_REGION:-us-east-1}
    depends_on:
      - localstack-init
    profiles:
      - development
      - infra
    networks:
      - ratel-network

networks:
  ratel-network:
    driver: bridge
