@tailwind base;
@tailwind components;
@tailwind utilities;

@theme static {
  --color-primary: #FCB300;
  --color-secondary: #777677;
  --color-hover: #CA8F00;
  --color-background: #1E1E1E;
  --spacing: 1px;
  --color-black: #000203;
}
