[package]
name = "common"
version = "0.1.0"
authors.workspace = true
description.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
serde_with = { workspace = true }
thiserror = { workspace = true }
serde.workspace = true
serde_json.workspace = true
by-macros = { workspace = true }
dioxus-translate = { workspace = true }
percent-encoding = { workspace = true }

# Server-only dependencies
bdk = { workspace = true, optional = true }
serde_dynamo = { workspace = true, optional = true }
schemars = { workspace = true, optional = true }
aide = { workspace = true, optional = true }
ssi = { version = "0.12.0", features = ["bbs"], optional = true }

[features]
default = []
server = ["bdk/be", "serde_dynamo", "schemars", "aide", "ssi"]
web = []