[package]
name = "boilerplate-api"
version = "0.1.0"
authors.workspace = true
description.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true

bdk = { workspace = true, features = ["be"] }
by-macros = { workspace = true }
by-axum = { workspace = true }

aws-sdk-dynamodb = "1.92.0"
serde_dynamo = { version = "4.2.14", features = ["aws-sdk-dynamodb+1"] }
thiserror = "2.0.16"
uuid = { version = "1.10.1", features = ["v7"] }
chrono = "0.4.39"
serde_with = "3.14.0"
percent-encoding = "2.3.2"
base64 = "0.22.1"
tokio = { version = "1.40.0", features = ["full"] }
