[package]
name = "main-ui"
version = "0.7.14"
authors.workspace = true
description.workspace = true
edition.workspace = true
repository.workspace = true

[dependencies]
dto.workspace = true

wasm-bindgen = { version = "0.2.100" }
wasm-bindgen-futures = { version = "0.4.50" }
web-sys = { version = "0.3.77" }

tracing = { version = "0.1.40" }
serde = "1.0.216"

bdk = { workspace = true, features = ["fe"] }

num-format = "0.4.4"

dioxus-oauth.workspace = true
google-wallet = { workspace = true }

chrono = "0.4.39"
base64 = "0.22.1"
url = "2.5.4"
wallet-adapter = "=1.0.4-beta"
hex = "0.4.3"
validator = "0.20.0"
regex = "1.11.1"
libc = "0.2.172"
dioxus-motion = { version = "0.3.1", optional = true, default-features = false }
ring = { version = "0.17.8" }
simple_asn1 = "0.6.2"
candid = "0.10.11"
gloo-storage = "0.3.0"

[features]
default = []
web = ["bdk/web", "dioxus-motion/web", "ring/wasm32_unknown_unknown_js"]
mobile = ["bdk/mobile"]
server = ["bdk/server", "dto/server"]
lambda = ["server", "bdk/lambda"]
dioxus-motion = ["dep:dioxus-motion"]
