name: Production deploy

on:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  deploy:
    runs-on: ubuntu-latest
    needs: [main-api, fetcher, ratel-web, survey-worker]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          ssh-key: ${{ secrets.PULL_KEY_REPO }}
      - name: Download Main Api
        uses: actions/download-artifact@v4
        with:
          name: ratel-main-api-${{ github.sha }}
          path: ./cdk/main-api
      - name: Download Survey Worker
        uses: actions/download-artifact@v4
        with:
          name: survey-worker-${{ github.sha }}
          path: ./cdk/survey-worker

      - name: Write Firebase service account (prod)
        run: |
          mkdir -p cdk/main-api/.gcp
          echo "${{ secrets.FIREBASE_SERVICE_ACCOUNT_JSON_BASE64 }}" \
            | base64 -d > cdk/main-api/.gcp/firebase-service-account.json

      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2
      - name: Deploy
        env:
          ENV: prod
          REGION: ap-northeast-2
          ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          DOMAIN: ratel.foundation
          STACK: ratel-prod-stack
          DEPLOY_STORYBOOK: false
          DEPLOY_STATIC: false
        run: |
          npm i -g aws-cdk
          make cdk-deploy-v2

  main-api:
    runs-on: ubuntu-22.04
    needs: [ratel-web]
    defaults:
      run:
        working-directory: packages/main-api

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          ssh-key: ${{ secrets.PULL_KEY_REPO }}

      - name: Write Firebase service account (prod)
        run: |
          mkdir -p .gcp
          echo "${{ secrets.FIREBASE_SERVICE_ACCOUNT_JSON_BASE64 }}" | base64 -d > .gcp/firebase-service-account.json

      - name: Cache builder
        id: main-api-build-cache
        uses: actions/cache@v4
        with:
          key: main-api-build-${{ runner.os }}-rust-${{ env.RUSTC_HASH }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            main-api-build-${{ runner.os }}-rust-${{ env.RUSTC_HASH }}-
            main-api-build-${{ runner.os }}-
            main-api-build-
          path: |
            packages/main-api/target
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Download Vite Web
        uses: actions/download-artifact@v4
        with:
          name: ratel-web-${{ github.sha }}
          path: ./packages/main-api

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy, rustfmt
          target: wasm32-unknown-unknown
          toolchain: stable
      - uses: cargo-bins/cargo-binstall@main
      - name: Install toml-cli
        run: |
          cargo binstall toml-cli --force

      - name: Building APIs
        env:
          REGION: ap-northeast-2
          ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

          ENV: prod
          RUST_LOG: info
          SERVICE: main-api
          DOMAIN: ratel.foundation

          BUCKET_NAME: metadata.ratel.foundation
          SLACK_HOOK: ${{ secrets.SLACK_HOOK }}

          BINANCE_API_KEY: ${{ secrets.PROD_BINANCE_API_KEY }}
          BINANCE_SECRET_KEY: ${{ secrets.PROD_BINANCE_SECRET_KEY }}
          BINANCE_WEBHOOK: https://api.ratel.foundation/v2/binances/webhooks
          REDIRECT_DOMAIN: https://ratel.foundation

          KAIA_ENDPOINT: https://public-en.node.kaia.io
          KAIA_FEEPAYER_KEY: ${{ secrets.PROD_KAIA_FEEPAYER_KEY }}
          KAIA_FEEPAYER_ADDR: ${{ secrets.PROD_KAIA_FEEPAYER_ADDR }}
          KAIA_OWNER_KEY: ${{ secrets.PROD_KAIA_OWNER_KEY }}
          KAIA_OWNER_ADDR: ${{ secrets.PROD_KAIA_OWNER_KEY_ADDR }}

          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}

          BBS_BLS_X: ${{ secrets.BBS_BLS_X }}
          BBS_BLS_Y: ${{ secrets.BBS_BLS_Y }}
          BBS_BLS_D: ${{ secrets.BBS_BLS_D }}
          BBS_BLS_CRV: ${{ secrets.BBS_BLS_CRV }}

          P256_X: ${{ secrets.P256_X }}
          P256_Y: ${{ secrets.P256_Y }}
          P256_D: ${{ secrets.P256_D }}
          P256_CRV: ${{ secrets.P256_CRV }}

          DYNAMO_TABLE_PREFIX: ratel-prod
          DYNAMO_ENDPOINT: none
          FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
          RUST_FLAG: "--features lambda --release"
          WEB_BUILD: false

          # NOTE: Change PORTONE API
          PORTONE_API_SECRET: ${{ secrets.PORTONE_API_SECRET }}
          PORTONE_KPN_CHANNEL_KEY: ${{ secrets.PORTONE_KPN_BILLING_KEY_CHANNEL_KEY }}
          PORTONE_STORE_ID: ${{ secrets.PORTONE_STORE_ID }}
          ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
          REWARD: false

          FCM_ENABLED: true
          RATEL_PROJECT_ID: ${{ secrets.RATEL_PROJECT_ID }}

          BEDROCK_AGENT_ID: ${{ secrets.PROD_BEDROCK_AGENT_ID }}
          BEDROCK_AGENT_ALIAS_ID: ${{ secrets.PROD_BEDROCK_AGENT_ALIAS_ID }}

          BIYARD_API_URL: https://api.biyard.co
          BIYARD_API_KEY: ${{ secrets.BIYARD_API_KEY }}
          BIYARD_PROJECT_ID: ${{ secrets.BIYARD_PROJECT_ID }}

        run: |
          tar xzvf dist.tar.gz
          ls dist

          make build

          mkdir -p ../../.gcp
          cp .gcp/firebase-service-account.json ../../.gcp/firebase-service-account.json

          mv target/release/main-api ../../bootstrap

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ratel-main-api-${{ github.sha }}
          path: ${{ github.workspace }}/bootstrap
          if-no-files-found: error
          retention-days: 7

  ratel-web:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ts-packages/web
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Setup pnpm
        run: |
          corepack enable
          corepack prepare pnpm@10.15.0 --activate

      - name: Build
        env:
          REGION: ap-northeast-2
          VITE_LOG_LEVEL: info
          VITE_RPC_URL: "https://public-en.node.kaia.io"
          VITE_BLOCK_EXPLORER_URL: "https://scope.kaia.io"
          VITE_OPERATOR_ADDRESS: ${{ secrets.OPERATOR_ADDRESS }}
          VITE_FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}
          VITE_FIREBASE_AUTH_DOMAIN: ${{ secrets.FIREBASE_AUTH_DOMAIN }}
          VITE_FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
          VITE_FIREBASE_STORAGE_BUCKET: ${{ secrets.FIREBASE_STORAGE_BUCKET }}
          VITE_FIREBASE_MESSAGING_SENDER_ID: ${{ secrets.FIREBASE_MESSAGING_SENDER_ID }}
          VITE_FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
          VITE_FIREBASE_MEASUREMENT_ID: ${{ secrets.FIREBASE_MEASUREMENT_ID }}

          # NOTE: Replace them after accepting.
          VITE_PORTONE_STORE_ID: ${{ secrets.PORTONE_STORE_ID}}
          VITE_PORTONE_INICIS_CHANNEL_KEY: ${{ secrets.PROD_PORTONE_INICIS_CHANNEL_KEY }}

          VITE_ENV: prod
          VITE_SIGN_DOMAIN: ratel.foundation
          VITE_API_URL: https://ratel.foundation
          VITE_EXPERIMENT: false
          VITE_TELEGRAM_BOTNAME: crypto_ratel_bot
          VITE_USDT_ADDRESS: 0xd077a400968890eacc75cdc901f0356c943e4fdb
        run: |
          make build

      - name: Deploy to S3
        env:
          BUCKET: ${{ secrets.PROD_RATEL_BUCKET }}
          CDN: ${{ secrets.PROD_RATEL_CDN }}
        run: |
          aws s3 sync dist $BUCKET
          aws cloudfront create-invalidation --distribution-id $CDN --paths "/*"

      - name: Prepare artifacts
        run: |
          tar czvf dist.tar.gz dist

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ratel-web-${{ github.sha }}
          path: ${{ github.workspace }}/ts-packages/web/dist.tar.gz
          if-no-files-found: error
          retention-days: 7

  fetcher:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/fetcher
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          ssh-key: ${{ secrets.PULL_KEY_REPO }}
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy, rustfmt
          target: wasm32-unknown-unknown
          toolchain: stable
      - uses: cargo-bins/cargo-binstall@main
      - name: Install dependencies
        run: |
          cargo binstall toml-cli
      - name: Cache builder
        id: fetcher-build-cache
        uses: actions/cache@v3
        with:
          key: fetcher-build-cache
          path: |
            packages/fetcher/target
      - name: Deploy APIs
        env:
          REGION: ap-northeast-2
          ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

          ENV: prod
          RUST_LOG: info
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}

          DYNAMO_TABLE_PREFIX: ratel-prod
        run: |
          make docker.build
          make docker.login
          make docker.push

  survey-worker:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: packages/survey-worker

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          ssh-key: ${{ secrets.PULL_KEY_REPO }}

      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy, rustfmt
          toolchain: stable

      - uses: cargo-bins/cargo-binstall@main
      - name: Install toml-cli
        run: |
          cargo binstall toml-cli --force

      - name: Build survey-worker Lambda
        env:
          REGION: ap-northeast-2
          ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

          ENV: prod
          RUST_LOG: info
          SERVICE: survey-worker
          DOMAIN: ratel.foundation

          DYNAMO_TABLE_PREFIX: ratel-prod
          DYNAMO_ENDPOINT: none
          RUST_FLAG: "--features lambda --release"
          WEB_BUILD: false
        run: |
          make bin.build
          mv target/release/survey-worker ../../bootstrap

      - name: Upload Survey Worker Artifact
        uses: actions/upload-artifact@v4
        with:
          name: survey-worker-${{ github.sha }}
          path: ${{ github.workspace }}/bootstrap
          if-no-files-found: error
          retention-days: 7
