[package]
name = "main-api"
version = "0.7.13"
authors.workspace = true
description.workspace = true
edition.workspace = true
repository.workspace = true

[dependencies]
dto = { workspace = true, features = ["server"] }
serde.workspace = true
serde_json.workspace = true

bdk = { workspace = true, features = ["be"] }

regex = "1"
tokio = { version = "1.40.0", features = ["full"] }
tower = "0.5.1"
chrono = "0.4.39"
uuid = { version = "1.10.1", features = ["v4"] }
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
validator = "0.20.0"
scraper = "0.23.1"
aws-config = "1.5.10"
ethers = "=2.0.14"
async-trait = "0.1.88"
rlp = "0.5.2"
hex = "0.4.3"
tower-sessions = "0.14.0"
tower-sessions-sqlx-store = { version = "0.15.0", features = ["postgres"] }
aws-sdk-s3 = "1.74.0"
aws-sdk-chimesdkmeetings = "1.63.0"
aws-sdk-chimesdkmediapipelines = "1.75.0"
aws-sdk-mediaconvert = "1.82.0"

rmcp = { version = "0.1.5", git = "https://github.com/modelcontextprotocol/rust-sdk", features = [
    "server",
    "transport-io",
    "transport-streamable-http-server",
    "transport-sse-server",
] }
aws-sdk-sesv2 = "1.83.0"
rand = "0.9.1"
url = "2.5.4"
hmac = "0.12.1"
base64 = "0.22.1"


[dev-dependencies]
rest-api = { workspace = true, features = ["test"] }

[features]
default = []
lambda = ["bdk/lambda"]
full-test = []
