[package]
name = "main-api"
version = "0.7.13"
authors.workspace = true
description.workspace = true
edition.workspace = true
repository.workspace = true
default-run = "main-api"

[dependencies]
serde.workspace = true
serde_json.workspace = true

bdk = { workspace = true, features = ["be"] }
by-macros = { workspace = true }
by-axum = { workspace = true }

lindera = { version = "1.5.0", features = ["embedded-ko-dic"] }
regex = "1"
tokio = { workspace = true }
tower = "0.5.1"
chrono = { workspace = true }
uuid = { workspace = true, features = ["v4","v7"] }
urlencoding = "2.1.3"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
validator = "0.20.0"
scraper = "0.23.1"
aws-config = "1.5.10"
ethers = "=2.0.14"
async-trait = "0.1.88"
rlp = "0.5.2"
hex = "0.4.3"
tower-sessions = "0.14.0"
google-cloud-auth = "1.2"
tower-sessions-sqlx-store = { version = "0.15.0", features = ["postgres"] }
aws-sdk-s3 = "1.74.0"
aws-sdk-chimesdkmeetings = "1.63.0"
aws-sdk-chimesdkmediapipelines = "1.75.0"
aws-sdk-mediaconvert = "1.82.0"
aws-sdk-sqs = "1.81.0"
jsonwebtoken = "9.3.0"
percent-encoding = { workspace = true }
aws-smithy-types = "1"
genpdf = { version = "0.2", features = ["images"] }
plotters = "0.3"
ab_glyph = "0.2.19"
rusttype = "0.9.3"
image = "0.25"
imageproc = "0.26"
rmcp = { version = "0.7.0", git = "https://github.com/modelcontextprotocol/rust-sdk", features = [
    "server",
    "transport-streamable-http-server",
    "transport-worker",

    "macros",
] }
aws-sdk-scheduler = "1.90.0"
aws-sdk-sesv2 = "1.83.0"
aws-sdk-sns = "1.83.0"
rand = "0.9.1"
rand_chacha = "0.9.0"
url = "2.5.4"
hmac = "0.12.1"
base64 = { workspace = true }
teloxide = { version = "0.17.0", features = ["macros"] }

photon-rs = { version = "0.3.2", git = "https://github.com/silvia-odwyer/photon" }
aws-sdk-rdsdata = "1.83.0"
# ssi = { version = "0.12.0", features = ["w3c", "bbs"] }
multibase = "0.9.1"
aws-sdk-bedrockruntime = "1.103.0"
aws-sdk-bedrockagentruntime = "1.75.0"
aws-sdk-rekognition = "1.85.0"
aws-sdk-textract = "1.82.0"
tower-http = { version = "0.6.6", features = ["fs"] }
aws-sdk-dynamodb = { workspace = true }
serde_dynamo = { workspace = true }
thiserror = { workspace = true }
serde_repr = "0.1.20"
strum_macros = "0.27.2"
sha2 = "0.10"
openssl = { version = "0.10" }
serde_with = { workspace = true }
bcrypt = "0.17.1"
aws-credential-types = "1.2.6"
once_cell = "1.21.3"
sha3 = "0.10.8"
askama = { version = "0.14.0", features = ["full"] }
random-string = "1.1.0"
ssi = { version = "0.12.0", features = ["bbs"] }
names = "0.14.0"
static-iref = "3.0.0"
iref = "3.2.2"
futures = "0.3.31"
x402-axum = "0.6.2"
x402-rs = "0.9.3"
headless_chrome = "1"
tempfile = "3.24.0"

[[bin]]
name = "main-api"
path = "src/main.rs"

[dev-dependencies]
rest-api = { workspace = true, features = ["test"] }
reqwest.workspace = true
url = "2.5.7"

[features]
default = ["server"]
full-test = []
no-secret = []
bypass = []
model-only = []
server = []
lambda = ["by-axum/lambda"]

[build-dependencies]
glob = "0.3.3"

[profile.dev.package."*"]
opt-level = 3

[profile.dev]
opt-level = 0
debug = 1
debug-assertions = true
lto = false
incremental = true
codegen-units = 16
