[package]
name = "main-api"
version = "0.7.13"
authors.workspace = true
description.workspace = true
edition.workspace = true
repository.workspace = true

[dependencies]
dto = { workspace = true, features = ["server"] }
serde.workspace = true
serde_json.workspace = true

bdk = { workspace = true, features = ["be"] }
regex = "1.11.1"
tokio = { version = "1.40.0", features = ["full"] }
tower = "0.5.1"
chrono = "0.4.39"
uuid = { version = "1.10.1", features = ["v4"] }
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
validator = "0.20.0"
scraper = "0.23.1"
aws-config = "1.5.10"
aws-sdk-s3 = "1.74.0"
ethers = "=2.0.14"
async-trait = "0.1.88"
rlp = "0.5.2"
hex = "0.4.3"
tower-sessions = "0.14.0"
tower-sessions-sqlx-store = { version = "0.15.0", features = ["postgres"] }

[dev-dependencies]
rest-api = { workspace = true, features = ["test"] }

[features]
default = []
lambda = ["bdk/lambda"]
full-test = []
